body {
    height: 100%;
    margin: 0;
    background: linear-gradient(red, #9198e5) no-repeat fixed;
}

html {
    height: 100%;
}

#cy {
    margin: 15px 0 0 15px;
    border: 10px solid black;
}

#menu {
    width: 800px;
    margin: 15px 15px 0 15px;
    height: 800px;
    background-color: white;
    border: 10px solid black;
    padding: 0;
}

.row ul {
    margin: 40px auto 0;
    padding: 0;
}

.row ul li {
    display: inline-block;
    font-weight: bolder;
    font-family: 'Dosis', sans-serif;
    font-size: 22px;
}

.row ul li:hover {
    cursor: pointer;
}

.row ul li:not(:last-child) {
    padding-right: 30px;
}

a {
    display: inline-block;
    width: 25%;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    color: #333;
}

.two:hover ~ hr {
    margin-left: 25%;
}

.three:hover ~ hr {
    margin-left: 50%;
}

.four:hover ~ hr {
    margin-left: 75%;
}

.active {
    color: #9198e5;
}

hr {
    height: .25rem;
    width: 25%;
    margin: 0;
    background: #9198e5;
    border: none;
    position: absolute;
}

.colorPickSelector {
    bottom: 0;
    border-radius: 5px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
}

.hide-section {
    display: none;
}

.open-section {
    display: block;
}

.row section {
    margin-top: 15px;
    margin-left: 30px;
}


.colorPickSelector:hover { transform: scale(1.1); }


